
<% if role == "seek" %>
  <h1> 検索結果: <%= name %> </h1>
<% else %>
  <h1> 類似する記録: <%= name %> </h1>
  <p></p>
  類似する名前の記録が <%= @person.size %> 件あります。 報告しようとした人と一致しているかどうかを確認してください。
<% end %>

<p></p>
情報を表示するには、下に表示されている名前を選択してください。

<br />
<hr />
<div class='searchResults'>
  <%- params[:name] = reencode_for_mobile(params[:name]) unless params[:name].blank? %>
  <%= paginate @person, window: 3 %>
  <% @person.each do |person| %>
    <a class="result-link" href="<%= URI.encode(people_view_path(person) + '?family_name=' + @query_family + '&given_name=' + @query_given + '&name=' + reencode_for_mobile(@query) + '&role=' + @action) %>">
      <%= create_result_data_title(person) %><br />
      <%= create_address(person) %><br />
    </a>
    <hr />
  <% end %>
</div>

<p></p>

探している人の情報が見つからない場合は、下のボタンをクリックして新しい記録を作成できます。

<p></p>

<% if role == "seek" %>
  <%= button_to "行方不明者の新しい記録を作成する", {:action => :new}, :method => :get %>
<% else %>
  <%= form_tag({:action => "new"}, {:method => :get}) do %>
    <%= hidden_field_tag "family_name", family_name %>
    <%= hidden_field_tag "given_name",  given_name %>
    <%= submit_tag "次の人の新しいレコードを作成する: #{name}" %>
  <% end %>
<% end %>

<p></p>
