<div class="container">
  <div class="content" role="main">

    <%= form_tag :action => :delete, :id => @person do %>
      <div>
        <h2>
          本当に<%= @person.full_name %>のレコードを削除してもよろしいですか？
        </h2>

        削除を続行すると、このレコードは、このサイトから見えなくなります。
        削除する前に
        <%= link_to "記録を確認", {:action => :view, :id => @person}, :target => ["_blank"] %>
        できます
        <br /><br />
        削除の理由:
        <%= select :reson, :deletion,
          [["自分に関する情報を消したい", "do_not_want_anymore"],
          ["この記録が原因でスパムを受信したから", "spam_received"],
          ["この記録が不適切な情報だから", "inappropriate"],
          ["この記録がスパム情報だから", "record_is_spam"],
          ["この記録が目的を果たしたから", "served_its_purpose"]]
      %>
        <br/><br/>

        <%= render :partial =>'recaptcha', :locals => {:captcha => true} %>

        <br/>
        <%= hidden_field :complete, :key, :value => "delete" %>
        <%= submit_tag "はい、削除する" %>
        <input type="button" value="キャンセル" onclick="history.go(-1);" />

      </div>

    <% end %>
    <br/><br/>

  </div>
</div>


<p><%= link_to "<< 最初のページに戻る ", :action => :index %></p>
