<%= error_messages_for(@note) %>

<div class="container">
  <div class="content" role="main">
    <%= form_tag :action => :dup_merge do %>
      <%= hidden_field :person, :id %>
      <%= hidden_field :person2, :id %>
      <%= hidden_field :person3, :id %>
      <%= hidden_field_tag :count, @count  %>

      <table class="view multiview" cellpadding="0" cellspacing="0">
        <tr class="columns">
          <td>
            <table class="person column" cellpadding="0" cellspacing="0">
              <tr>
                <td colspan="<%= @count %>">
                  <h2>記録の比較</h2>
                </td>
              </tr>
              <tr>
                <td colspan="<%= @count %>" class="name sectiontop">
                  <h3>名前</h3>
                </td>
              </tr>

              <tr>
                <td class="label">姓:</td>
                <td class="field"><%= @person.family_name %></td>
                <td class="field"><%= @person2.family_name %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.family_name %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">名:</td>
                <td class="field"><%= @person.given_name %></td>
                <td class="field"><%= @person2.given_name %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.given_name %></td>
                <% end %>
              </tr>

              <tr class="sectionbottom">
                <td class="label">名前（よみがな）:</td>
                <td class="field"><%= @person.alternate_names %></td>
                <td class="field"><%= @person2.alternate_names %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.alternate_names %></td>
                <% end %>
              </tr>

              <tr>
                <td colspan="<%= @count %>" class="physical sectiontop">
                  <h3>身体の特徴</h3>
                </td>
              </tr>
              <tr>
                <td class="label">性別:</td>
                <td class="field"><%= @person_const["sex"]["#{@person.sex}"] %></td>
                <td class="field"><%= @person_const["sex"]["#{@person2.sex}"] %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person_const["sex"]["#{@person3.sex}"] %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">生年月日:</td>
                <td class="field"><%= @person.date_of_birth %></td>
                <td class="field"><%= @person2.date_of_birth %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.date_of_birth %></td>
                <% end %>
              </tr>

              <tr class="sectionbottom">
                <td class="label">年齢:</td>
                <td class="field"><%= @person.age %></td>
                <td class="field"><%= @person2.age %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.age %></td>
                <% end %>
              </tr>

              <tr>
                <td colspan="<%= @count %>" class="address sectiontop">
                  <h3>自宅住所</h3>
                </td>
              </tr>

              <tr>
                <td class="label">出身国:</td>
                <td class="field"><%= @person.home_country %></td>
                <td class="field"><%= @person2.home_country %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.home_country %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">郵便番号:</td>
                <td class="field"><%= @person.home_postal_code %></td>
                <td class="field"><%= @person2.home_postal_code %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.home_postal_code %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">都道府県:</td>
                <td class="field"><%= @person.home_state %></td>
                <td class="field"><%= @person2.home_state %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.home_state %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">市区町村:</td>
                <td class="field"><%= @person.home_city %></td>
                <td class="field"><%= @person2.home_city %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.home_city %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">町名:</td>
                <td class="field"><%= @person.home_street %></td>
                <td class="field"><%= @person2.home_street %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.home_street %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">近隣の場所:</td>
                <td class="field"><%= @person.home_neighborhood %></td>
                <td class="field"><%= @person2.home_neighborhood %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.home_neighborhood %></td>
                <% end %>
              </tr>

              <tr class="sectionbottom">
                <td class="label">市内・市外区分:</td>
                <td class="field"><%= @person_const["in_city_flag"]["#{@person.in_city_flag}"] %></td>
                <td class="field"><%= @person_const["in_city_flag"]["#{@person2.in_city_flag}"] %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person_const["in_city_flag"]["#{@person3.in_city_flag}"] %></td>
                <% end %>
              </tr>

              <tr>
                <td colspan="<%= @count %>" class="description sectiontop">
                  <h3>説明</h3>
                </td>
              </tr>
              <tr class="sectionbottom">
                <td class="label">&nbsp;</td>

                <td class="field">
                  <%= text_area :person, :description,
                    :cols => "30", :rows => "5", :readonly => true %>
                </td>

                <td class="field">
                  <%= text_area :person2, :description,
                    :cols => "30", :rows => "5", :readonly => true %>
                </td>

                <% if @person3.present? %>
                  <td class="field">
                    <%= text_area :person3, :description,
                      :cols => "30", :rows => "5", :readonly => true %>
                  </td>
                <% end %>
              </tr>

              <% if @person.photo_url.present? || @person2.photo_url.present? || @person3.try(:photo_url).present? %>
                <tr>
                  <td colspan="<%= @count %>" class="photo sectiontop">
                    <h3>写真</h3>
                  </td>
                </tr>
                <tr class="sectionbottom">
                  <td class="label">&nbsp;</td>
                  <td class="field">
                    <% if @person.photo_url.present? %>
                      <%= image_tag(@person.photo_url, :class => "photo") %>
                    <% else %>
                      <%= image_tag("no-photo.gif", :class => "photo") %>
                    <% end %>
                  </td>
                  <td class="field">
                    <% if @person2.photo_url.present? %>
                      <%= image_tag(@person2.photo_url, :class => "photo") %>
                    <% else %>
                      <%= image_tag("no-photo.gif", :class => "photo") %>
                    <% end %>
                  </td>
                  <% if @person3.present? %>
                    <td class="field">
                      <% if @person3.photo_url.present? %>
                        <%= image_tag(@person3.photo_url, :class => "photo") %>
                      <% else %>
                        <%= image_tag("no-photo.gif", :class => "photo") %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <td colspan="<%= @count %>" class="source sectiontop">
                  <h3>この記録の情報源</h3>
                </td>
              </tr>

              <tr>
                <td class="label">情報提供者の名前:</td>
                <td class="field"><%= @person.author_name %></td>
                <td class="field"><%= @person2.author_name %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.author_name %></td>
                <% end %>
              </tr>

              <tr>
                <td class="label">情報提供者の電話番号:</td>
                <td class="field">
                  <% if session[:pi_view] %>
                    <%= @person.author_phone %>
                  <% else %>
                    <% unless @person.author_phone.blank? %>
                      <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person, :id2 => @person2, :id3 => @person3 %>
                    <% end %>
                  <% end %>
                </td>
                <td class="field">
                  <% if session[:pi_view] %>
                    <%= @person2.author_phone %>
                  <% else %>
                    <% unless @person2.author_phone.blank? %>
                      <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person, :id2 => @person2, :id3 => @person3 %>
                    <% end %>
                  <% end %>
                </td>

                <% if @person3.present? %>
                  <td class="field">
                    <% if session[:pi_view] %>
                      <%= @person3.author_phone %>
                    <% else %>
                      <% unless @person3.author_phone.blank? %>
                      <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person, :id2 => @person2, :id3 => @person3 %>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>

              <tr>
                <td class="label">情報提供者のメールアドレス:</td>
                <td class="field">
                  <% if session[:pi_view] %>
                    <%= @person.author_email %>
                  <% else %>
                    <% unless @person.author_email.blank? %>
                      <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person, :id2 => @person2, :id3 => @person3 %>
                    <% end %>
                  <% end %>
                </td>
                <td class="field">
                  <% if session[:pi_view] %>
                    <%= @person2.author_email %>
                  <% else %>
                    <% unless @person2.author_email.blank? %>
                      <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person, :id2 => @person2, :id3 => @person3 %>
                    <% end %>
                  <% end %>
                </td>
                <% if @person3.present? %>
                  <td class="field">
                    <% if session[:pi_view] %>
                      <%= @person3.author_email %>
                    <% else %>
                      <% unless @person3.author_email.blank? %>
                      <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person, :id2 => @person2, :id3 => @person3 %>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>

              <tr>
                <td class="label">情報元の URL:</td>
                <td class="field">
                  <% if @person.source_url.present? %>
                    <%= link_to "リンク", @person.source_url, :target => ["_blank"] %>
                  <% end %>
                </td>
                <td class="field">
                  <% if @person2.source_url.present? %>
                    <%= link_to "リンク", @person2.source_url, :target => ["_blank"] %>
                  <% end %>
                </td>
                <% if @person3.present? %>
                  <td class="field">
                    <% if @person3.source_url.present? %>
                      <%= link_to "リンク", @person3.source_url, :target => ["_blank"] %>
                    <% end %>
                  </td>
                <% end %>
              </tr>

              <tr>
                <td class="label">情報元の投稿日:</td>
                <td class="field">
                  <%= @person.source_date.strftime("%Y-%m-%d %H:%M %Z") if @person.source_date.present?  %>
                </td>
                <td class="field">
                  <%= @person2.source_date.strftime("%Y-%m-%d %H:%M %Z") if @person2.source_date.present?  %>
                </td>
                <% if @person3.present? %>
                  <td class="field">
                    <%= @person3.source_date.strftime("%Y-%m-%d %H:%M %Z") if @person3.source_date.present?  %>
                  </td>
                <% end %>
              </tr>

              <tr class="sectionbottom">
                <td class="label">情報元のサイト名:</td>
                <td class="field"><%= @person.source_name %></td>
                <td class="field"><%= @person2.source_name %></td>
                <% if @person3.present? %>
                  <td class="field"><%= @person3.source_name %></td>
                <% end %>
              </tr>

            </table>
          </td>
        </tr>
      </table>
      &nbsp;

      <div class="fields-table note" role="complementary">
        <h2>重複している記録としてマークする</h2>
        <div class="mandatory text section">
          <h3>メッセージ（必須）</h3>
          <div class="hint">
            同一人物だと考える理由を入力してください
          </div>
          <div class="field">
            <%= text_area :note, :text, { :rows => 5, :class => "long-text-input" } %>
          </div>
          <div class="end-multi-columns"></div>
        </div>


        <div class="source section">
          <h3 class="mandatory">
            あなたについて（必須）
          </h3>
          <div class="hint">
            この人を探している人があなたと連絡を取る手段を指定してください
          </div>
          <div class="field">
            <span class="label">
              <label for="author_name" class="mandatory"
                     id="author_name_original">
                あなたの名前:
              </label>
            </span>
            <span class="value">
              <%= text_field :note, :author_name, :value => @note.author_name,
                :class => "medium-text-input" %>
            </span>
          </div>

          <div class="field">
            <span class="label">
              <label for="author_phone" id="author_phone_original">
                あなたの電話番号:
              </label>
            </span>
            <span class="value">
              <%= text_field :note, :author_phone, :value => @note.author_phone,
                :class => "medium-text-input" %>
            </span>
          </div>

          <div class="field">
            <span class="label">
              <label for="author_email" id="author_email_original">
                あなたのメール アドレス:
              </label>
            </span>
            <span class="value">
              <%= text_field :note, :author_email, :value => @note.author_email,
                :class => "medium-text-input" %>
            </span>
          </div>

          <div class="field">
            <span class="label">
              <label for="subscribe-checkbox">
                この方の新着情報をメールで受け取る:
              </label>
            </span>
            <span class="value">
              <%= check_box_tag "subscribe", true, false, {:checked => @subscribe} %>
            </span>
          </div>


          <div class="end-multi-columns"></div>
        </div>

        <div class="submit">
          <div class="consent">
            <label for="consent"class="mandatory">システムの利用規約に同意します。</label>
            <%= check_box_tag "consent", true, false, {:checked => @consent} %>
            <%= link_to "ご利用規約", :action => :terms_of_service %>
          </div>

          <%= submit_tag "はい、同一人物です。" %>
          <input type="button" value="キャンセル" onclick="history.go(-1)" />
        </div>
      </div>

    <% end %>

  </div>
</div>

<p><%= link_to "<< 最初のページに戻る ", :action => :index %></p>



