<%= error_messages_for(@note) %>

<div class="container">
  <div class="content" role="main">
    <%= form_tag({:action => :update_note_preview, :id => @person, :family_name => @query_famiry, :given_name => @query_given, :name => reencode_for_mobile(@query), :role => @action}) do %>
      <div class="view">

      <div class="column right">
          <p></p>

          <% if @person.notes_disabled %>
            <div class="mandatory">
              作成者がこの記録に関するメモを無効にしました。
              <%= submit_tag "この記録へのメモの書き込みを許可する", :name => "note_valid_apply" %>
            </div>
          <% else %>
            <div class="create">
              <%= render :partial => "column_note_mobile",
                :locals => {:note => @note} %>
            </div>
          <% end %>

          <% if @action.present? %>
            <div><%= link_to "<< 対象者詳細に戻る ",
                :action => :view,
                :family_name => @query_family,
                :given_name => @query_given,
                :name => reencode_for_mobile(@query),
                :role => @action %></div>
          <% end %>
          <div><%= link_to "<< 最初のページに戻る ", :action => :index %></div>

          <div class="end-multi-columns"></div>
        </div>

      <% end %>
    </div>
  </div>
