<%= error_messages_for(@person) %>
<div class="container">
  <div class="content" role="main">
    <div>
      <%= form_tag :action => :note_valid_apply, :id => @person do %>
        <h2>
          「<%= @person.full_name %>」さんに関するメモを有効にします。よろしいですか？
        </h2>

        <p>メモを無効または有効にするには、記録の作成者の許可を必要とするため、
          確認メールが記録の作成者に送られます。
          作成者である場合は、下のボタンをクリックした後、メールを確認してください。</p>

        <br/>

        <%= render :partial =>'recaptcha', :locals => {:captcha => true} %>

        <br/>
        <%= hidden_field :complete, :key, :value => "note_valid_apply" %>
        <%= submit_tag "はい、メモを有効にするよう作成者にリクエストします" %>
        <input type="button" value="キャンセル" onclick="history.go(-1);" />

      <% end %>
    </div>
    <br/><br/>

  </div>
</div>

<p><%= link_to "<< 最初のページに戻る ", :action => :index %></p>
