<%= error_messages_for(@person) %>
<div class="container">
  <div class="content" role="main">

    <div>
      <h2>個人情報の表示</h2>
      <%= form_tag :action => :personal_info, :id => @person do %>

        <%= render :partial =>'recaptcha', :locals => {:captcha => true} %>
        <br/>
        <%= hidden_field :pi_view, :check, :value => true %>
        <%= submit_tag '続行' %>
      <% end %>
    </div>

  </div>
</div>

<p><%= link_to "<< 最初のページに戻る ", :action => :index %></p>

