<%= error_messages_for(@person) %>
<div class="container">
  <div class="content" role="main">
    <div>
      <%= form_tag :action => :spam_cancel do %>
        <h2>本当にスパムではありませんか?</h2>

        <p>スパムとしてこのノートをマーク解除することで、デフォルトでそれが見えるようになります。</p>

        <div style="width: 462px;">
          <div class="view note">
            <div class="source">
              投稿者:<span class="author"><%= @note.author_name %></span>
              日付:<span class="date"><%= @note.entry_date.strftime("%Y-%m-%d") if @note.entry_date.present? %></span>
              時刻:<span class="time"><%= @note.entry_date.strftime("%H:%M:%S %Z") if @note.entry_date.present? %></span>
              <% unless @note.author_email.blank? %>
                <div class="contact">
                  <% if session[:pi_view] %>
                    メール:<%= @note.author_email %>
                  <% else %>
                    メール:<%= link_to "（クリックして表示）", :action => :personal_info, :id => @person, :note_id => @note %>
                  <% end %>
                </div>
              <% end %>

              <% unless @note.author_phone.blank? %>
                <div class="contact">
                  <% if session[:pi_view] %>
                    電話:<%= @note.author_phone %>
                  <% else %>
                    電話:<%= link_to "（クリックして表示）", :action => :personal_info, :id => @person %>
                  <% end %>
                </div>
              <% end %>

              <div class="contents">
                <span name="note_text">
                  <span><%= raw parse_br(@note.text) %></span>
                </span>
                <p></p>
                <div class="status">
                  <span class="label">状況:</span>
                  <span class="field believed_missing">
                    <%= @note_const["status"]["#{@note.status}"] %>
                  </span>
                </div>

                <% if @note.email_of_found_person.present? %>
                  <div>
                    <span class="label"> 行方不明者の現在のメール アドレス: </span>
                    <span class="field">
                      <% if session[:pi_view] %>
                        <%= @note.email_of_found_person %>
                      <% else %>
                        <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person %>
                      <% end %>
                    </span>
                  </div>
                <% end %>
                <% if @note.phone_of_found_person.present? %>
                  <div>
                    <span class="label"> 行方不明者の現在の電話番号: </span>
                    <span class="field">
                      <% if session[:pi_view] %>
                        <%= @note.phone_of_found_person %>
                      <% else %>
                        <%= link_to "（クリックして表示）", :action => :personal_info, :id => @person %>
                      <% end %>
                    </span>
                  </div>
                <% end %>

                <div>
                  <span class="label">最後に見かけた場所:</span>
                  <span class="field"><%= @note.last_known_location %></span>
                </div>

                <div>
                  <%= content_tag(:div, :id => "set_map_"+"#{@note.id}"+"_show_link", :style => "display:none") do -%>
                    <a href='#' onclick="toggleMarkeredMap('set_map_<%= @note.id %>'); return false;">
                      地図を表示</a>
                  <% end -%>
                  <%= content_tag(:div, :id => "set_map_"+"#{@note.id}"+"_hide_link", :style => "display:none") do -%>
                    <a href='#' onclick="toggleMarkeredMap('set_map_<%= @note.id %>'); return false;">
                      地図を隠す</a>
                  <% end -%>
                  <%= content_tag(:div, :id => "set_map_"+"#{@note.id}", :class => "map" , :style => "display:none") do -%><% end -%>
                  <%= javascript_tag do %>
                    parseLatLngOrGeocodeAndStore('<%= @note.last_known_location %>', 'set_map_<%= @note.id %>');
                  <% end %>
                </div>
                <% if @note.photo_url.present? %>
                  <div class="photo section">
                    <div class="field">
                      <span>
                        <%= image_tag(@note.photo_url, :class => "photo") %>
                      </span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="end-multi-columns"></div>
          </div>

        </div>

        <br/><br/>

        <%= render :partial =>'recaptcha', :locals => {:captcha => true} %>

        <br/>
        <%= hidden_field :complete, :key, :value => "spam_cancel" %>
        <%= submit_tag 'メモを更新する' %>
        <input type="button" value="キャンセル" onclick="history.go(-1);" />
      <% end %>
    </div>
    <br/><br/>

  </div>
</div>


<p><%= link_to "<< 最初のページに戻る ", :action => :index %></p>