<%= error_messages_for(@person, @note) %>
<div class="container">
  <div class="content" role="main">
    <div>
      <%= form_tag :action => :subscribe_email, :id => @person, :note_id => @note do %>
        <h2><%= @person.full_name %>さんについての新着情報を受け取る</h2>

        <p>新着情報を受け取るにはメールアドレスを入力してください</p>

        <span id="subscribe_label">
          あなたのメールアドレス
        </span>

        <% if @note.blank? %>
          <%= text_field :person, :author_email, :value => @person.author_email %>
        <% else %>
          <%= text_field :note, :author_email, :value => @note.try(:author_email) %>
        <% end %>
        <div class="subscribe_email_error"></div>
        <br/><br/>

        <%= render :partial =>'recaptcha', :locals => {:captcha => true} %>

        <br/><br/>
        <div>
          <%= hidden_field :complete, :key, :value => "subscribe_email" %>
          <%= submit_tag "アップデートを受け取る" %>
          <input type="button" value="キャンセル" onclick="history.go(-1);" />
        </div>
        <%= hidden_field_tag :id2, @person2.try(:id) %>
        <%= hidden_field_tag :id3, @person3.try(:id) %>
        <%= hidden_field_tag :note_id, @note.try(:id) %>
        <%= hidden_field_tag :note_id2, @note2.try(:id) %>
        <%= hidden_field_tag :note_id3, @note3.try(:id) %>

      <% end %>
    </div>
    <br/><br/>

  </div>
</div>

<p><%= link_to "<< 最初のページに戻る ", :action => :index %></p>


